name: Deno Deploy

on:
  workflow_dispatch:
  push:
  delete:

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    environment: ${{ (github.event.ref == 'refs/heads/main' || github.ref == 'refs/heads/main' || github.event.workflow_run.head_branch == 'main' || github.event.ref == 'refs/heads/demo' || github.ref == 'refs/heads/demo' || github.event.workflow_run.head_branch == 'demo') && 'main' || 'development' }}
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Set ACTION_REF environment variable
        run: |
          branch_name=$(echo '${{ github.event.ref || github.event.workflow_run.head_branch || github.ref }}' | sed 's#refs/heads/##')
          echo "ACTION_REF=${GITHUB_REPOSITORY}@${branch_name}" >> $GITHUB_ENV
      - uses: actions/checkout@v5
      - uses: ubiquity-os/deno-plugin-adapter@main
        id: adapter
        with:
          pluginEntry: "./worker"
      - uses: denoland/setup-deno@v2
      - name: Rebuild lock file
        run: |
          rm *.lock
          deno install
      - uses: ubiquity-os/deno-deploy@main
        env:
          APP_ID: ${{ secrets.APP_ID }}
          APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
          KERNEL_PUBLIC_KEY: ${{ secrets.KERNEL_PUBLIC_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
          BOT_USER_ID: ${{ secrets.BOT_USER_ID }}
        with:
          token: ${{ secrets.DENO_DEPLOY_TOKEN }}
          action: ${{ github.event_name == 'delete' && 'delete' || 'deploy' }}
          organization: ${{ secrets.DENO_ORG_NAME }}
          entrypoint: ${{ steps.adapter.outputs.entrypoint }}
          project_name: ${{ secrets.DENO_PROJECT_NAME }}
