name: Deno Deploy

on:
  workflow_dispatch:
  push:
  delete:

jobs:
  deploy:
    environment: ${{ (github.event.ref == 'refs/heads/main' || github.ref == 'refs/heads/main' || github.event.workflow_run.head_branch == 'main') && 'main' || 'development' }}
    permissions:
      contents: read
      issues: write
      pull-requests: write
    uses: ubiquity/deno-deploy-workflow/.github/workflows/deno-deploy-reusable.yml@main
    with:
      project: ${{ secrets.DENO_PROJECT_NAME }}
      entrypoint: ./worker
      env_var_keys: |
        APP_ID
        APP_PRIVATE_KEY
        KERNEL_PUBLIC_KEY
        GITHUB_TOKEN
        SUPABASE_URL
        SUPABASE_KEY
        BOT_USER_ID
      required_env: |
        DENO_DEPLOY_TOKEN
    secrets: inherit
