name: "Update Configuration and Build"

on:
  workflow_dispatch:
  push:

jobs:
  update-manifest:
    name: "Update Configuration & Build"
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - name: Update Manifest and Commit Changes
        uses: Meniole/action-deploy-plugin@feat/27-generate-manifest-metadata
        with:
          treatAsEsm: true
          sourcemap: false
          pluginEntry: ${{ github.workspace }}/src/worker.ts
          excludeSupportedEvents: "issue_comment.created"
        env:
          APP_ID: ${{ secrets.APP_ID }}
          APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
